*.config
*.creator
*.files
*.includes
*.user

# MTC build artifacts / junk
result/
__pycache__/
*.o
*.cmd
System.map
vmlinux
vmlinux.o
include/generated/
include/config/
.config.orig
*.log
kernel.idb.zip
